node_modules/
dist/
build/
!client/build/
.env
.env.local
*.log
coverage/
.DS_Store
Thumbs.db

# Electron
client/dist-electron/
client/release/*
!client/release/README.md
client/*.asar

# Generated RSA keys

# SQLite offline DB
*.sqlite
*.db


# Unnecessary Files
AGENTS.md
